body{
  background-color: aquamarine;
}

h2{
  color:darkmagenta;
}

#articleOne {
  font-family: 'Courier New';
  border: 1px dotted green;
}

#articleTwo {
  font-family: 'Franklin Gothic Medium';
  border: 3px solid gold;
}

#articleThree {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 5px dashed black;
}
